.tab-search {
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
}

.required {
	color: #d9534f;
}

.page-header {
	margin: 30px 0 20px;
	padding-bottom: 9px;
}

@media ( min-width : 768px) {
	.page-wrapper {
		position: inherit;
		padding: 25px 30px 0 20px;
	}
}

.genders {
	width: 100%;
}

.genders .btn-secondary, .genders .dropdown-menu {
	width: 100%;
	text-align: left;
}

.genders .dropdown-toggle::after {
	float: right;
	margin-top: 0.7rem;
}

.genders .dropdown-item:hover, .intl-tel-input .country-list .country.highlight
	{
	color: #fff;
	background-color: #025aa5;
}

#resultTablePagination {
	text-align: center;
}

.not-active {
	pointer-events: none;
	cursor: default;
}

/***** Custom Angular datepicker rules ****/
.md-datepicker-calendar-pane {
	z-index: 1151;
}

.md-calendar-month-label {
	font-weight: bold;
}

md-content {
	overflow: visible !important;
}