<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- JDBC Connection Settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/StudentDB?useSSL=false</property>
		<property name="hibernate.connection.username">StudentDB</property>
		<property name="hibernate.connection.password">StudentDB</property>

		<!-- Populate Tables and Insert Data -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.hbm2ddl.import_files">import.sql</property>
		<!-- Add Multiple Lines Sql Support -->
		<property name="hibernate.hbm2ddl.import_files_sql_extractor">org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor</property>

		<!-- JDBC Connection Pool Settings ... Using Built-in Test Pool -->
		<property name="hibernate.connection.pool_size">1</property>

		<!-- MySQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- MySQL InnoDB Dialect -->
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property> -->

		<!-- Echo SQL stdout -->
		<property name="show_sql">true</property>

		<!-- Set the Current Session Context -->
		<property name="current_session_context_class">thread</property>

		<!-- c3p0 config http://www.hibernate.org/214.html -->
		<!-- <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> -->
		<!-- <property name="hibernate.c3p0.acquire_increment">1</property> -->
		<!-- <property name="hibernate.c3p0.idle_test_period">60</property> -->
		<!-- <property name="hibernate.c3p0.min_size">1</property> -->
		<!-- <property name="hibernate.c3p0.max_size">2</property> -->
		<!-- <property name="hibernate.c3p0.max_statements">50</property> -->
		<!-- <property name="hibernate.c3p0.timeout">0</property> -->
		<!-- <property name="hibernate.c3p0.acquireRetryAttempts">1</property> -->
		<!-- <property name="hibernate.c3p0.acquireRetryDelay">250</property> -->


		<!-- Entities Mapping -->
		<mapping package="demo.spring.mvc.db.entities" />
		<mapping class="demo.spring.mvc.db.entities.UserAccount" />

	</session-factory>
</hibernate-configuration>
